.idea
.vscode
node_modules
dist
.DS_Store
./packages/container/node_modules
./packages/auth/node_modules
./packages/dashboard/node_modules
./packages/marketing/node_modules
./packages/pim/node_modules
./packages/shop/node_modules